{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{% static 'main/css/contact_style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/basket_style.css' %}">
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
    <meta charset="UTF-8">
    <title>Basket</title>
</head>
<body>
<div style=".flex-container">
    {% if request.session.username != None %}
    <h4 style=" color: white;
        background-color: #00008B;
        display: inline-block;
        padding: 13px 45px;
        border: 2px solid #00008B;
        text-decoration: none;
        text-align: center;
        font: 13px Arial, sans-serif;
        position:fixed;
        left:1379px;
        top:36px;">{{request.session.username}}</h4>
    <a style="
        color: white;
        background-color: red;
        display: inline-block;
        padding: 13px 43px;
        border: 2px solid red;
        text-decoration: none;
        text-align: center;
        font: 13px Arial, sans-serif;
        position:fixed;
        left:1379px;
        top:95px;
    " href="{% url 'logout' %}">Вийти</a>

    {% else %}
    <a style="
        color: white;
        background-color: #00008B;
        display: inline-block;
        padding: 13px 45px;
        border: 2px solid #00008B;
        text-decoration: none;
        text-align: center;
        font: 13px Arial, sans-serif;
        position:fixed;
        left:1379px;
        top:36px;
    " href="{% url 'login' %}">Вхід</a>
    {% endif %}


    <div class="header">
        <a href="html/first.html"><img class="logo" src="{% static 'main/img/logo.png' %}" alt="Logotype!!!"></a>
        <h1 class="logoName"><a href="#">Магазин побутової техніки</a></h1>
        <ul class="main-nav">
            <li><a id="index" href="{% url 'main' %}">Головна</a></li>
            <li><a href="{% url 'catalog' %}" style="">Каталог</a></li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn" style="background-color: #34495e; color: #ccccff;"> Кошик
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="{% url 'basket' %}">Переглянути кошик</a>
                        <a href="html/order2.html">Оформити замовлення</a>
                    </div>
                </div>
            </li>
            <li><a href="{% url 'contactUs' %}">Зв'язатися з нами</a></li>
        </ul>
    </div>

    <div class="shopping-cart" style="text-align: center">
        <div id="shopping-cart1" class="shopping-cart1">
            <div class="title" style="text-align: center; top: 60px;">
                Товари у кошику:<br>
                {% for basketProduct in basketProducts %}
                <input type="text" style="width: 33%;" name="title" id="title" value="{{basketProduct.product.title}}"
                       disabled>
                <input type="number" style="width: 10%;" id="count" name="count"
                       value="{{basketProduct.countOfProducts}}" disabled>
                <a class="delete-btn1"
                   href="{% url 'deleteProductFromBasket' title=basketProduct.product.title %}">&#10006</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div style="text-align: center; top: 400px">
        <form>
            <a class="continue" href="{% url 'catalog' %}">Продовжити</a>
            <a class="continue" style="background-color: #03A9F4" href="order2.html">Оформити замовлення</a>
            <a class="continue" style="background-color: #fc5a5a" href="#" id="clear_cart">Очистити корзину</a>
        </form>
    </div>
</div>
</body>
</html>